.well.well-small
  .pull-right{ :'data-position' => 'bottom', :'data-intro' => 'Reset the filter settings to defaults.' }
    = link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm'
  .chardin_box{ :'data-position' => 'bottom', :'data-intro' => "will_paginate's entries info works as expected." }
    = page_entries_info @levels, :model => 'mario_level'
  .chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Spinner indicates update.' }
    = render_filterrific_spinner

.pagination-container
  =paginate @levels
-@levels.each do |level|
  .row.mario-level-row
    .mario-level-span
      .row
        .col-xs-2.mario-level-image
          =check_mario_image(level)
        .col-xs-7.mario-level-body
          .row
            %div
              =render "mario_levels/stage_name", level:level
              %p.mario-normal-text
                =level.description
            .mario-level-owner
              Created by:
              =link_to level.user.username, marioprofile_user_path(level.user)
            %div
              =render "mario_levels/rate_id", level:level
            .mario-level-ranks
              =render "mario_levels/level_ranks", level:level
            -if comments
              .level-comments
                .level-show-hide
                  %a{href:"#", id:"show-hide"}
                    Show/hide
                  ="comments (#{level.mario_user_comments.count})"
                #level-comments{style:"display:none;"}
                  -level.mario_user_comments.each do |comment|
                    =render "mario_levels/comment", comment:comment

.pagination-container
  =paginate @levels

:javascript
  $(document).ready(function() {
    $( "#show-hide" ).click(function() {
      e.preventDefault();
      $("#level-comments").toggle("slide", { direction: "right" }, 1000);
    });
  });

